<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	</head>
	<body>
		<div id="solContainer">
			<div id="solNavBar">{{> navBar }}</div>
			<div id="solRenderAndInfo">
				<div id="solRender"></div>
				<div id="solInfo"></div>
			</div>
		</div>
	</body>
	
	<!-- <script src="javascripts/pixi_test.js"></script> -->
	<script src="javascripts/common.js"></script>
	<script src="javascripts/models.js"></script>
	<script src="javascripts/views.js"></script>
	<script src="javascripts/Sharedb.js"></script>
	<script src="javascripts/DefinitionsData.js"></script>
	<script src="javascripts/PlayerData.js"></script>
	<script src="javascripts/NavigationController.js"></script>
	<script src="javascripts/ShipController.js"></script>
	<script src="javascripts/QuestCtrl.js"></script>
	<script src="javascripts/InfoDiv.js"></script>
	<script src="javascripts/app.js"></script>
	<script>
		SolGame.app.init(function() {
			SolGame.app.start(function() {});
		});
	</script>
</html>
