<ul>
	<li><a href="#" onclick="SolGame.InfoDiv.showStations()">Map</a></li>
	<li><a href="#" onclick="SolGame.InfoDiv.showPlrQuests()">Player Quests</a></li>
	<li><a href="#" onclick="SolGame.InfoDiv.showAvailableQuests()">Available Quests</a></li>
	<li><a href="#" onclick="SolGame.InfoDiv.showInventory()">Inventory</a></li>
	<li><a href="#" onclick="{{ shipOnclick }}">Ship</a></li>
	<li><a href="#" onclick="{{ warrantsOnclick }}">Warrants</a></li>
	<li><a href="#" onclick="SolGame.InfoDiv.clear()">Messages</a></li>
	<li><a href="#" onclick="SolGame.InfoDiv.showShopsAtStation()">Shops</a></li>
	<li><a href="#" onclick="{{ messagesOnclick }}">Store</a></li>
</ul>
