body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#solContainer {
	width: 1200px;
	margin: auto;
}

.box {
	border-style: solid;
}

.container {
	width: 100px;
	border-style: solid;
	float: left;
	overflow: hidden;
}
